{% extends "base/base.html" %}
{% block head %}
{{ super() }}

{% for tag in meta.tags %}
<meta name="tags" contents="{{tag}}" />
{% endfor %}

{% endblock %}
{% block content %}
{% set pageName = "archive" %}
{% if menuitems %}
{% for title, link in menuitems.items() %}
{% if title == "archive" %}
        <div id="page_{{title}}" class="page" {% if title !=pageName %}style="display: none" {% endif %}>
            <div id="content_{{title}}" class="content {% if title == pageName %}ajaxHook{% endif %}">
                <div id="ajax_content_{{title}}" class="ajax_content">
                    {% include 'base/article_kernel.html' %}
                </div>
            </div>
        </div>
{% else %}
        <div id="page_{{title}}" class="page" {% if title !=pageName %}style="display: none" {% endif %}>
            <div id="content_{{title}}" class="content {% if title == " pageName" %}ajaxHook{% endif %}">
                <script>
                    fetch("/{{ link }}")
                      .then((response) => {
                        return response.text();
                      })
                      .then((body) => {
                        const parsed = new DOMParser().parseFromString(body, "text/html");
                        document.querySelector("#content_{{title}}").innerHTML = parsed.querySelector("#ajax_content_{{title}}").outerHTML;
                      });
                </script>
            </div>
        </div>
{% endif %}
{% endfor %}
{% endif %}

        <!-- Animate to page -->
        <script>
            // Which page is this
            whichPageActive = 2;
        </script>
        <!-- End Animate to page -->
{% endblock %}