/* Style
Name: Dynamics
Author: Mladen Gibanica
Site: mladen.gibanica.net
Version: 0.4
*/

/* Noscript and Old Browsers */
noscript, .old-browsers {
  display: block;
  width: 100%;
  background: #000000;
  color: #fafafa;
  text-align: center;
  position: fixed;
  font-size: 1em;
  z-index: 1;
  padding: 10px 0;
}
/* End Noscript and Old Browsers */